/*@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i');*/
/*@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i');

html{
	background-color: black;
}

*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-ms-overflow-style:none;
}

body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	-ms-overflow-style:none;
}

#objective-loader,
#loader{
	position:absolute;
	top:0;
	left:0px;
	transform-origin: left top;
	width:1300px;
	height:740px;
	border: 0;
}

#scale_container {
	width:1300px;
	height:740px;
	transform: translate(-0%, -0%);
	transform-origin: top left;
	position: absolute;
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	/* background-color: black; */
	overflow: hidden;
}

#loader {
	width:100%;
	height:100%;
	max-width: 1300px;
    min-width: 1300px;
    text-size-adjust: none;
}

#btnPrev{
	position: absolute;
	width:117px;
	height:36px;
	cursor:pointer;
	background-image:url('../images/butt_back_static.png');
	top: 691px;
	left: 974px;
	/*display:none;*/
}

#btnPrev:hover{
	background-image:url('../images/butt_back_hover.png');
}

#btnNext{
	position: absolute;
	width:117px;
	height:36px;
	cursor:pointer;
	background-image:url('../images/butt_next_static.png');
	top: 691px;
	left: 1163px;
}

#btnNext:hover{
	background:url('../images/butt_next_hover.png');
}

#btnPlay{
	position: absolute;
	width:40px;
	height:36px;
	cursor:pointer;
	background-image:url('../images/butt_play_static.png');
	top: 691px;
	left: 1107px;
	display: none;
}

#btnPlay:hover{
	background:url('../images/butt_play_hover.png');
}

#btnPause{
	position: absolute;
	width:40px;
	height:36px;
	cursor:pointer;
	background-image:url('../images/butt_pause_static.png');
	top: 691px;
	left: 1107px;
}

#btnPause:hover{
	background:url('../images/butt_pause_hover.png');
}

#trt{
	position: absolute;
	top: 330px;
	left: 690px;
	color: #fff;
	background: red;
	width: 130px;
	text-align: center;
	font-family: monospace;
	display:none;
}

nav{
	background: #FC5625;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 178px;
	padding-left: 47px;
	width: 110px;
	height: 740px;
	z-index: 9000;
	/*opacity:0.3;*/
}

nav > div{
	color: #fff;
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 46px;
	position: absolute;
	display: block;
	width: 437px;
	cursor:pointer;
	pointer-events:none;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}

nav .objective-menuitem span{
	margin-right: 36px;
}



#btnDownloads span{
	margin-right: 34px;
	margin-left: -5px;
}

nav .objective-menuitem span.obj-title{
	display: none;
}

div#logo{
	position: absolute;
	top: 7px;
	left: 11px;
	width: 90px;
	height: 50px;
	background-repeat: no-repeat;
	background-image: url('../images/neca-logo.svg');
}

div#btn-menu{
	position: absolute;
	top: 91px;
	left: 28px;
	width: 455px;
	height: 50px;
	background-image: url('../images/btn_hamburger.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

div#btn-menu header{
	position: absolute;
	top: 10px;
	width: 100%;
	display:none;
}

.no-bg{
	background: none !important;
}

div#btn-close{
	position: absolute;
	top: 16px;
	left: 446px;
	width:26px;
	height:26px;
	background-image:url('../images/btn_close.png');
	background-repeat: no-repeat;
	cursor:pointer;
	display:none;
}

.disabled{
	pointer-events: none !important;
	opacity:0.4;
	cursor: default;
}

#testadvance{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 100px;
	background: red;
	cursor: pointer;
	opacity: 0;
	z-index:9000;
}

div#status{
	position: absolute;
	font-size: 14px;
	color: red;
	top: 5px;
	left: 120px;
	background: #fff;
	padding: 2px;
}

#btnDownloads{
	cursor:pointer;
}

.dl-icon{
	width: 26px;
	height: 34px;
	background-size: 100%;
	display: inline-block;
	background-image:url('../images/butt_download.png');
}

.dl-title{
	margin-top: 5px;
	position: absolute;
}

aside#downloads{
	position: absolute;
	right: -300px;
	height: 510px;
	width: 300px;
	background: #FC5625;
	top: 50%;
	margin-top: -255px;
	display:none;
}

aside#downloads header{
	color: #fff;
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 46px;
	position: absolute;
	display: block;
	width: 437px;
	cursor:pointer;
	pointer-events:none;
	top: 14px;
	left: 14px;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}

div#dl-close{
	position: absolute;
	top: 14px;
	right: 14px;
	width: 26px;
	height: 26px;
	background-image: url('../images/btn_close.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

#dl-scroll{
	position: absolute;
	top: 58px;
	left: 16px;
	width: 270px;
	height: 435px;
	overflow-y: auto;
}

.dl-link{
	position: relative;
	text-align: right;
	height: auto; /* dr show part of third download */
	margin-bottom: 30px;
	padding-right: 30px;
}

.dl-link a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	outline: none;
}

.dl-link a img{
	/* border: 3px solid #fff; */
	width: 160px; /* dr show part of third download */
}

.dl-link a p{
	margin-top: 0;/* dr show part of third download */
}

#dl-gradient{
	pointer-events: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc5625+0,fc5625+52,fc5625+100&0+0,1+52,1+100 */
	background: -moz-linear-gradient(top, rgba(252,86,37,0) 0%, rgba(252,86,37,1) 52%, rgba(252,86,37,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(252,86,37,0) 0%,rgba(252,86,37,1) 52%,rgba(252,86,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(252,86,37,0) 0%,rgba(252,86,37,1) 52%,rgba(252,86,37,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fc5625', endColorstr='#fc5625',GradientType=0 ); /* IE6-9 */
}

.chevron.right{
	position: absolute;
	margin-left: -32px;
	margin-top: 4px;
	display:none;
}

.chevron::before {
	border-style: solid;
	border-width: 0.09em 0.09em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

/* AUTOPLAY */
#launch-modal{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(252,86,37,1);
	z-index: 10000;
}

#launch-modal #landingimage{
	background-image: url('../images/landing.jpg');
	background-size:100%;
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 520px;
}

#launch-modal h1{
	color: #fff;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 190px;
	font-size: 70px;
}
div#launch{
	/* background-image: url('../images/neca_startbutton_transp.png'); */
	background-repeat: no-repeat;
	position: absolute;
	top: 560px;
	width: 491px;
	height: 128px;
	background-size: 100%;
	left: 50%;
	cursor: pointer;
	margin-left: -245px;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.1); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.1); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 3000ms;
    transform-origin:center;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
