#preloader-custom{
	top: 50%;
	left: 25%;
	width: 50%;
	margin: 0 auto;
	position: absolute;
	z-index: 9000;
	/*display:none;*/
}
#preload {  
	background-color: #EEE;
	width:100%;
	height: 15px;
	border: 0;
	padding: 0;
}  
  
#preloadFill {  
    position: absolute;  
    background-color: #e8f251;  
    height: 15px;  
    width: 0;  
}

#preloader-custom #percent{
	color: #fff;
	text-align: center;
	display: block;
/*	font-family: 'Titillium Web', sans-serif;
	font-weight:700;*/
} 