#page h1{
	color: #1e2f66;
	font-weight: 500;
	position: absolute;
	top: 27px;
	left: 50px;
	font-size: 49px;
	width: 1100px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

textarea{
	font-family: 'Rubik', sans-serif;
	outline: none;
	resize: none;
	position: absolute;
	top: 150px;
	left: 40px;
	border: none;
	padding: 15px;
	/*width: 319px;
	height: 315px;*/
	font-size: 22px;
	background: none;

	width: 359px;
	height: 344px;
	padding-top: 0;
}

#btnSubmit{
	display:none;
	position: absolute;
	width:117px;
	height:36px;
	cursor:pointer;
	background-image:url('../../images/butt_submit_static.png');
	top: 545px;
	left: 168px;
}

#btnSubmit:hover{
	background:url('../../images/butt_submit_hover.png');
}

#comparison{

	position: absolute;
	/*top: 32px;
	left: 0;
	width: 400px;
	height: 491px;*/
	background:url('../../images/clipboard.svg');
	background-repeat: no-repeat;

	background-size: 142%;
	background-position-x: -85px;
	background-position-y: -122px;

	width: 430px;
	height: 538px;
	top: -8px;
	left: 0;
}

#comparison-text{
	display:none;
	position: absolute;
	top: 155px;
	left: 46px;
	width: 350px;
	height: 335px;
	overflow-y: auto;
	padding-right: 30px;
	/*line-height: 140%;*/
	/*font-size: 17px;*/
	font-size: 22px !important;
}

#comparison-text ul{
	margin:0;
}

#left h4{
	position: absolute;
	/*top: 50px;
	left: 50px;*/
	font-size: 22px;
	width: 300px;
	text-align: center;

	top:65px;
	left:66px;
	color:#000;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#right h4{
	position: absolute;
	/*top: 80px;
	left: 50px;*/
	font-size: 22px;
	width: 300px;
	text-align: center;

	top: 57px;
	left: 68px;
	color:#000;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

section#left{
	position: absolute;
	/*top: 146px;
	left: 96px;
	width: 400px;
	height: 491px;*/
	background:url('../../images/clipboard.svg');

	background-repeat: no-repeat;
	background-size: 142%;
	background-position-x: -85px;
	background-position-y: -122px;

	top: 106px;
	left: 96px;
	width: 430px;
	height: 538px;
}

section#right{
	top: 114px;
	left: 610px;
	width: 410px;
	height: 491px;
	position: absolute;
	display:none;
}

#scroll{
	position: absolute;
	top: 508px;
	left: 126px;
	color: #fff;
	width: 200px;
	text-align: center;
}








