#page{
	background-color: #fff;
}

#upper{
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height:400px;
	margin: 0;
	display: block;
	background-image: url('../../images/welcome-header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#lower{
	background-color: #1e2f66;
	position: absolute;
	top: 410px;
	left: 0;
	height: 330px;
	width: inherit;
}

#lower img{
	position: absolute;
	width: 62px;
	left: 50%;
	margin-left: -31px;
	top: 34px;
}

#lower #coursetitle{
	color: #fff;
	font-weight: 500;
	text-align: center;
	font-size: 59px;
	position: absolute;
	top: 138px;
	line-height: 94%;
	margin: 0;
	text-align: center;
	width:100%;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

p#copyright{
	color: #fff;
	position: absolute;
	bottom: 13px;
	left: 35px;
	font-size: 20px;
	text-align: left;
}